table {
  border-collapse: collapse;
  margin: auto;
  border-spacing: 1rem;
}

tr {
  display: table-row;
}

td,
th {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  text-align: center;
  margin: 2px;
}

.not-revealed {
  background-color: #454138;
}

.icon-flag,
.icon-question,
.icon-bomb {
  color: #dcd8c0;
}
.revealed {
  color: #454138;
}

.hidden {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 328px;
}

.input {
  display: flex;
  flex-direction: column;
  width: 105px;
}
.custom-options {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.difficulty-options {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.difficulty-options button {
  width: calc((100% - 1.5rem) / 4);
}
