table {
  border-collapse: collapse;
}

tr {
  display: table-row;
}

td {
  display: table-cell;
  width: 20px;
  height: 20px;
  text-align: center;
  border: 1px solid black;
}

.not-revealed {
  background-color: white;
  margin: 1px;
}

.flagged {
  background-color: red;
}

.question-marked {
  background-color: yellow;
}
